<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chorezilla.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chorezilla.android.HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chorezilla.android.EditListScreen"
            android:label="My Lists" >
        </activity>
        <activity
            android:name="com.chorezilla.android.SignInScreen"
            android:noHistory="true"
            android:label="Sign In To ChoreZilla" >
        </activity>
        <activity
            android:name="com.chorezilla.android.RegisterScreen"
            android:noHistory="true"
            android:label="Welcome to ChoreZilla" >
        </activity>
        <activity
            android:name="com.chorezilla.android.EditChore" >
        </activity>
    </application>

</manifest>
